/* reset */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* fine reset */


.wrapper {
    width: 80%;
    margin: auto;    
}


/* header */
nav {
    height:50px;
    background-color: #DA70D6;
}

.header-image{
    height:150px;
    background-color: #F0E68C;
    margin-top: 1%;
}
/* fine header */

main {
    margin-top: 1%;
    background-color: pink;    
}

.main-top-row {
    height:40px;
    background-color: orange;
}

.clearfix::after{
    content:"";
    display:table;
    clear:both;
}

.col{
    width: 20%;
    height:100px;
    background-color: lightskyblue;
    float:left;
    margin: 1% 0;
}
.col-center {
    background-color: lime;
}


